USE [SampleDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/6/2020 11:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CUS_ID] [int] NOT NULL,
	[CUS_NAME] [varchar](50) NOT NULL,
	[CUS_PHONE] [varchar](50) NULL,
	[CUS_EMAIL] [varchar](50) NULL,
	[CUS_STORE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/6/2020 11:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EMP_ID] [int] NOT NULL,
	[EMP_NAME] [varchar](50) NOT NULL,
	[EMP_BD] [date] NOT NULL,
	[EMP_PHONE] [varchar](50) NULL,
	[EMP_EMAIL] [varchar](50) NULL,
	[EMP_STORE] [int] NOT NULL,
	[EMP_AGE]  AS (datediff(year,[EMP_BD],getdate())),
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 2/6/2020 11:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LOC_ID] [int] NOT NULL,
	[LOC_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/6/2020 11:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[PROD_ID] [int] NOT NULL,
	[PROD_NAME] [varchar](50) NOT NULL,
	[PROD_STOCK] [int] NOT NULL,
	[PROD_PRICE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 2/6/2020 11:59:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[STOR_ID] [int] NOT NULL,
	[STOR_NAME] [varchar](50) NOT NULL,
	[STOR_LOC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CUS_ID], [CUS_NAME], [CUS_PHONE], [CUS_EMAIL], [CUS_STORE]) VALUES (1, N'OMAR', NULL, NULL, 1)
INSERT [dbo].[Customers] ([CUS_ID], [CUS_NAME], [CUS_PHONE], [CUS_EMAIL], [CUS_STORE]) VALUES (2, N'NELIDA', NULL, NULL, 2)
INSERT [dbo].[Customers] ([CUS_ID], [CUS_NAME], [CUS_PHONE], [CUS_EMAIL], [CUS_STORE]) VALUES (3, N'MARIANA', NULL, NULL, 3)
INSERT [dbo].[Employees] ([EMP_ID], [EMP_NAME], [EMP_BD], [EMP_PHONE], [EMP_EMAIL], [EMP_STORE]) VALUES (1, N'OSCAR', CAST(N'1965-10-12' AS Date), NULL, NULL, 1)
INSERT [dbo].[Employees] ([EMP_ID], [EMP_NAME], [EMP_BD], [EMP_PHONE], [EMP_EMAIL], [EMP_STORE]) VALUES (2, N'CARLA', CAST(N'1959-07-02' AS Date), NULL, NULL, 2)
INSERT [dbo].[Employees] ([EMP_ID], [EMP_NAME], [EMP_BD], [EMP_PHONE], [EMP_EMAIL], [EMP_STORE]) VALUES (3, N'HORACIO', CAST(N'1974-06-18' AS Date), NULL, NULL, 3)
INSERT [dbo].[Locations] ([LOC_ID], [LOC_NAME]) VALUES (1, N'MUNRO')
INSERT [dbo].[Locations] ([LOC_ID], [LOC_NAME]) VALUES (2, N'SAN ISIDRO')
INSERT [dbo].[Locations] ([LOC_ID], [LOC_NAME]) VALUES (3, N'OLIVOS')
INSERT [dbo].[Products] ([PROD_ID], [PROD_NAME], [PROD_STOCK], [PROD_PRICE]) VALUES (1, N'PENCIL', 50, 12.9)
INSERT [dbo].[Products] ([PROD_ID], [PROD_NAME], [PROD_STOCK], [PROD_PRICE]) VALUES (2, N'PEN', 50, 15.9)
INSERT [dbo].[Products] ([PROD_ID], [PROD_NAME], [PROD_STOCK], [PROD_PRICE]) VALUES (3, N'RUBBER', 50, 8.7)
INSERT [dbo].[Stores] ([STOR_ID], [STOR_NAME], [STOR_LOC]) VALUES (1, N'LIBRERIA SOL', 1)
INSERT [dbo].[Stores] ([STOR_ID], [STOR_NAME], [STOR_LOC]) VALUES (2, N'LIBRERIA EL BAUL', 2)
INSERT [dbo].[Stores] ([STOR_ID], [STOR_NAME], [STOR_LOC]) VALUES (3, N'LIBRERIA LOS AMIGOS', 3)
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([CUS_STORE])
REFERENCES [dbo].[Stores] ([STOR_ID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([EMP_STORE])
REFERENCES [dbo].[Stores] ([STOR_ID])
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD FOREIGN KEY([STOR_LOC])
REFERENCES [dbo].[Locations] ([LOC_ID])
GO
/****** Object:  StoredProcedure [dbo].[SelectAllCustomers]    Script Date: 2/6/2020 11:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectAllCustomers]
AS
SELECT * FROM Customers
GO;
GO
