<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$FunctionsExample20200623110127</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionsexample20200623110127.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/da4d8da5-9d0a-4065-9e9e-5b0ae1f67876/resourcegroups/AzureStorageDemo/providers/Microsoft.Web/sites/FunctionsExample20200623110127</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionsexample20200623110127.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>